{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
      <p class="meta">Docker based images. <a href="https://hub.docker.com/u/neosb"> Docker Hub</a></p>
      <img src="https://storage.googleapis.com/neosb/static/nutek-terminal.png" alt="showcase">
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Security firt class!</h2>
          <p>Don't waste time on another script kiddie scanner. Invest time in real research 📚 Find vulnerebilities for your company or alone in bug bounty programs. Work on your terms.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Fast by default ⚡️</h2>
          <p>Run your container with minimal throughput, blazingly fast on your host machine 🌪</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Throw away and start when needed</h2>
          <p>You're not bind by any rule, do what you want inside Nutek Terminal then throw it away and start another one, break it again and forget 👮🏿‍♀️</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Start as many Nutek Terminals as you want</h2>
          <p>Easily start one Terminal in your left panel and two in your right panels. Divide and conquer. Open apps that you need, and be like a boss 🧑‍🎤</p>
        </div>
        <!-- <div class="col-lg-5">
          <h2 class="h4">Page layouts</h2>
          <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Dark mode</h2>
          <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
        </div> -->
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4"><u><a href="https://paypal.me/neosb/">Sponsor</a></u> Nutek Terminal</h2>
          <p>Nutek Terminal is an 🔓 <a href="https://github.com/nutek-terminal">open source</a> 📖 project, if not your help, I could not make this, please consider financial support to the authors, any thing you see here is done transparently 🪞, help me lead the way 📈, so you can have the best value 💸 for the buck you invest $</p>
          <p>Check out the great <a href="https://app.warp.dev/referral/7ZKD6R">Warp Terminal</a> app. It's nice and modern vision of console 💻 (it's not your vader terminal).</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
